numpy==1.26.4
pandas~=2.2.3
Flask==2.3.1
scikit-learn==1.1.3
torch --extra-index-url https://download.pytorch.org/whl/cpu
torchvision --extra-index-url https://download.pytorch.org/whl/cpu
torchaudio --extra-index-url https://download.pytorch.org/whl/cpu
requests~=2.32.3
Pillow~=11.0.0
gunicorn == 20.0.4
torch~=2.5.0
torchvision~=0.20.0